<%= stylesheet_link_tag 'boxscore' %>


<%= render :partial => '/boxscore/game_menu' %>

<div class="tabs">
	<a class="tab selected" href="boxscore?gid=<%= @gid %>"><span>Boxscore</span></a>
	<a class="tab" href="/play_by_play?gid=<%= @gid %>"><span>Play-by-Play</span></a>
	<a class="tab" href="/pitchbypitch?gid=<%= @gid %>"><span>Pitch-by-Pitch</span></a> 
	<a class="tab" href="/highlights?gid=<%= @gid %>"><span>Highlights</span></a>
</div>

<div id="game_detail" class="tab_content">
	<%= render :partial => '/boxscore/linescore' %>
	<%= render :partial=>'playbyplay' %>
	<div style="clear:both;"></div>
</div>