<div id="game_menu">
	<%= link_to 'Back to linescores', "/scoreboard?year=#{@gameday_info['year']}&month=#{@gameday_info['month']}&date=#{@gameday_info['day']}" %>
	<br/><br/>
	<% @games.each do |game| %>
		<%  if game.away_team_city == @bs.cities[0] %>
			<div class="linescore_brief game_selected">
				<a href="/boxscore?gid=<%= game.gid %>">
		<%  else %>
			<div class="linescore_brief">
				<a href="/boxscore?gid=<%= game.gid %>">
		<%  end %>
			<table cellspacing="0px">
				<tr>
					<th class="team_name">Final</th>
					<th class="linescore_totals">R</th>
					<th class="linescore_totals">H</th>
					<th class="linescore_totals">E</th>
				</tr>
				<tr>
					<td class="team_name"><%= game.away_team_name %></td>
					<td class="linescore_totals"><%= game.away_runs %></td>
					<td class="linescore_totals"><%= game.away_hits %></td>
					<td class="linescore_totals"><%= game.away_errors %></td>
				</tr>
				<tr>
					<td class="team_name"><%= game.home_team_name %></td>
					<td class="linescore_totals"><%= game.home_runs %></td>
					<td class="linescore_totals"><%= game.home_hits %></td>
					<td class="linescore_totals"><%= game.home_errors %></td>
				</tr>
			</table>
			</a>
		</div>
	<% end %>
	<div style="clear:both;"></div>
</div>