<%= stylesheet_link_tag 'boxscore' %>

<div id="title">	
	Boxscore for <%= @gameday_info['year'] %>/<%= @gameday_info['month'] %>/<%= @gameday_info['day'] %><br/>
	<%= @bs.cities[0] %> vs. <%= @bs.cities[1] %><br/>
</div>

<%= render :partial => 'game_menu' %>

<div class="tabs">
	<a class="tab selected" href="boxscore?gid=2009_10_01_minmlb_detmlb_1"><span>Boxscore</span></a>
	<a class="tab" href="/play_by_play?gid=2009_10_01_minmlb_detmlb_1"><span>Play-by-Play</span></a>
	<a class="tab" href="/pitchbypitch?gid=2009_10_01_minmlb_detmlb_1"><span>Pitch-by-Pitch</span></a> 
	<a class="tab" href="/highlights?gid=2009_10_01_minmlb_detmlb_1"><span>Highlights</span></a>
</div>

<div id="game_detail" class="tab_content">
	<%= render :partial => 'linescore' %>
	<%= render :partial=>'boxscore' %>
	<div style="clear:both;"></div>
</div>

<div style="clear:both;"></div>
