<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Baseball Tracker</title>
	<link rel="shortcut icon" href="/favicon.ico" />
	
	<%= stylesheet_link_tag 'style' %>
	
	<%= stylesheet_link_tag '../javascripts/dojo/dijit/themes/tundra/tundra.css' %>
	<%= stylesheet_link_tag '../javascripts/dojo/dojox/grid/resources/Grid.css' %>
	<%= stylesheet_link_tag '../javascripts/dojo/dojox/grid/resources/tundraGrid.css' %>
	
	<script type="text/javascript" src="/javascripts/dojo/dojo/dojo.js" djConfig="isDebug:false, parseOnLoad: true"></script>

	<script type="text/javascript">
		dojo.require("dojo.parser");
	</script>
	
	<%= javascript_include_tag "application" %>
	
    <script type="text/javascript">  	
		var authenticity_token = "<%= form_authenticity_token %>";				
    </script>
	
	<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
	
</head>

<body>
	<div id="content">
		<div id="header">
			<div class="header_text">
				<div class="title">Baseball Tracker</div>
				<div class="tagline">Real-time MLB Score and Stats</div>
			</div>
		</div>

		<div id="main">
			<%= yield %>
			<div style="clear:both;"></div>
		</div>
		
		<div id="footer">
			<div id="">
				Source code available via <a href="http://github.com/timothyf/Baseball-Tracker">GitHub</a>.
			</div>
		</div>
		<div style="clear:both;"></div>
	</div>
</body>

</html>



